@import '//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700';

body {
	font: normal 62.5%/1.5 'Open Sans', Helvetica, Arial, sans-serif;
	color: #333333;
	border-top: 3px solid #333333;
}

h1, h2, h3 { text-transform: uppercase; }
	h1 a {
		color: inherit;
		text-decoration: none;
	}
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
p, li { font-size: 1.8em; }
pre { font-size: 1.4em; }
li li { font-size: 100%; }

a { color: #000000; }
	a:hover { color: #000000; }

#container {
	margin: 0 auto;
	padding: 0 2em;
	width: 64em;
}

#header {
	padding: 3em 0;
	border-bottom: 1px solid #cccccc;
}

#title {
	float: left;
	width: 25%;
}
	#title h1 { 
		margin: 0;
		font-size: 1.4em;
	}

#menu {
	float: right;
	width: 75%;
	font-size: 1.4em;
	color: #666666;
	text-align: right;
	text-transform: uppercase;
}
	#menu a {
		margin-left: 1em;
		color: #666666;
		text-decoration: none;
	}
		#menu a:hover {
			text-decoration: underline;
		}

section,
article header {
	margin: 10em 0;
	text-align: center;
}
	.label,
	article .date {
		font-size: 1.4em;
		text-transform: uppercase;
	}
	article .permalink {
		font-size: 1.4em;
		font-style: italic;
	}
	section h1,
	article h1 {
		margin-top: 0;
		font-size: 4em;
		line-height: 1;
	}
	
#work img {
	margin: 1em 2em;
	width: 170px;
	vertical-align: middle;
}
	
#montage img {
	float: left;
	width: 160px;
}

.listing article header { 
	margin: 0 0 5em 0;
	text-align: left;
}
.listing article h1 { font-size: 2em; }
		
#twitter:hover { color: #00aced; }
#instagram:hover { color: #517fa4; }
#pinterest:hover { color: #cb2027; }
#github:hover { color: #99A7AF; }
#dribbble:hover { color: #ea4c89; }

#footer {
	font-size: 1.4em;
	line-height: 6.1;
	border-top: 1px solid #cccccc;
}
	#footer #statamic-mark {
		font-weight: bold;
		color: inherit;
		text-decoration: none;
	}

@media screen and (max-width: 480px) {
	#container { width: 32em; }
	#title, #menu { float: none; text-align: center; }
	#menu { margin-top: 1em; }
	section h1,
	article h1 { font-size: 2.8em; }
}
		
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }