<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }}{{ if page.title.tab }} - {{ page.title.tab }}{{ endif }}</title>

    {% include head.html %}
  </head>
  <body>
    <div id="container">
      {% include header.html %}
      
      <div id="content">
        <article>
          <header>
            <span class="label">{{ page.title.sub }}</span>
            <h1>{{ page.title.page }}</h1>
          </header>
          
          {{ content }}

        </article>
      </div>
      
      {% include footer.html %}
    </div>
  </body>
</html>
