  <footer>
    <hr />
    <div id="webring">
      <p>Weird Wide Webring</p>
      <p>
        [<a href="https://weirdwidewebring.net/prev.html">Prev</a>]
        [<a href="https://weirdwidewebring.net/random.html">Rand</a>]
        [<a href="https://weirdwidewebring.net">List</a>]
        [<a href="https://weirdwidewebring.net/join.html">Join</a>]
        [<a href="https://weirdwidewebring.net/next.html">Next</a>]
      </p>
    </div>
    <p>(c) {{ now.Year }} {{ .Site.Title }}</p>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
</body>
</html>
