<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <base href="{{ .Site.BaseURL }}">
    <meta name="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Title}}{{end}}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <title>{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ partial "styles.html" . }}

    <link rel="shortcut icon" href="/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css" rel="stylesheet" />
  </head>

  <body>
    <header id="nav">
      <h1><a href="/">{{ .Site.Title }}</a></h1>
      <div>
        {{ range .Site.Menus.main }}
          [<a href="{{ .URL }}">{{ .Name }}</a>]
        {{ end }}
      </div>
    </header>
